EADAssignment6/WebContent/wsdl/AreaOfTriangle.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.metacube.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.metacube.com" xmlns:intf="http://soap.metacube.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.metacube.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="calculate">
    <complexType>
     <sequence>
      <element name="side1" type="xsd:double"/>
      <element name="side2" type="xsd:double"/>
      <element name="side3" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="calculateResponse">
    <complexType>
     <sequence>
      <element name="calculateReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="calculateResponse">

      <wsdl:part element="impl:calculateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calculateRequest">

      <wsdl:part element="impl:calculate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AreaOfTriangle">

      <wsdl:operation name="calculate">

         <wsdl:input message="impl:calculateRequest" name="calculateRequest">

       </wsdl:input>

         <wsdl:output message="impl:calculateResponse" name="calculateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AreaOfTriangleSoapBinding" type="impl:AreaOfTriangle">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calculate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calculateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calculateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AreaOfTriangleService">

      <wsdl:port binding="impl:AreaOfTriangleSoapBinding" name="AreaOfTriangle">

         <wsdlsoap:address location="http://localhost:8080/EADAssignment6/services/AreaOfTriangle"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
